*{
    margin: 0;;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 130px;
}
.logo{
    background-image: url("amazon\ logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;

}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid #ffffff;
}
.add-first{
    color:#cccccc;
    font-size: 0.80rem;
    margin-left: 15px;
}
.add-sec{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 4px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    background-color: #fac654;
    width: 670px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid #ff9100;
}
.search-select{
    border-radius: 4px;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #0f1111;
}
span{
    font-size:0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: bold;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */
.panel{
    height: 40px;
    background-color: #101439c8;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin: 15px;
}
.panel-ops{
    width: 75%;
    font-size: 14px;
}
.panel-deals{
    font-size: 16px;
    font-weight: bold;
}
.panel-all{
    font-weight: bold;
}
/* panel */
.hero-sec{
    background-image: url(51RPiINhM7L._SX1500_.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: #fff;
    color: #0f1111;
    height: 30px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.hero-msg a{
    color: #025bf5;
}
/* Shop Section */
.shop-sec{
    display: flex;
    justify-content: space-evenly;
    background-color: #f19d9d;
}
.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: #fff;
}